html,body{

 }


body {
	background-color:floralwhite;

}
    


h1 {
    
    font-size:250%;
   color:darkblue;
   font : serif;
    text-align: center;
  
    
}

h2{
    text-align:right 20px;
    font-size:170%;

     color:darkblue;
   font : serif;
    text-align: center;
    
    
}

h3{
    font-size:170%;
    color:darkblue;
   font-family: serif;
    text-align: center;
    
    
    
    
}

h4 {
       font-size:170%;
     color:darkblue;
   font : serif;
    text-align: center;   
}


h5 {
    font-Size: 110%;
    padding-left: 80rem;
    
    
    
}

.Profil{   
   
     padding: 1px;
  background: yellow;
  border: 2px solid red;
   
    margin-left: 10px;
    margin-right: 10px;
     margin-top:5px;
 margin-bottom:20px;
    
}

.Citation{
     border: 20px inset;
 padding:0 10px;
    font-size:100%;
    font-family:"Times New Roman", Times;
    
    
    
    
}
.Formation {
    
    font-family: cursive;
    font-size:150%;
    padding-left: 15rem;
    
    
}

.Experiences {
  font-family: cursive;
    font-size:150%;
    padding-left: 15rem;  
    
}

.Loisirs {
    
     font-family: cursive;
    font-size:150%;
    padding-left: 15rem;
    
    
    
}

* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */


